<form [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm.value)">
  <mat-form-field>
    <input matInput #title name="title" type="text" placeholder="Task Title" [formControl]="taskForm.controls['title']" [errorStateMatcher]="matcher"/>
    <mat-icon matSuffix>add</mat-icon>
    <mat-hint align="end">{{title.value.length}} / 60</mat-hint>
    <mat-error *ngIf="taskForm.controls['title'].hasError('maxlength')">
      Title is too <strong>long</strong>
      <span [style.float]="'right'">{{title.value.length}} / 60</span>
    </mat-error>
    <mat-error *ngIf="taskForm.controls['title'].hasError('required')">
      Title is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-button class="submit-button" type="submit" [disabled]="taskForm.invalid"><span class="button-text">CREATE TASK</span></button>
</form>
