form {
  padding: 0 2vw;
  display: grid;
  grid-template-columns: 100%;
}

mat-panel-title,
.button-text {
  font-weight: bold;
}

.button-text {
  color: white;
}

.submit-button {
  margin-top: 10px;
  background-color: #222222;
}
